* {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	background-color: #acacac;
}

/*---bangladesh---*/
h2{
	text-align: center;
	font-size: 30px;
	color: #e9e9e9;
	margin-bottom: -80px;
	margin-top: 50px;
}
.green{
	background-color: green;
	width: 700px;
	height: 500px;
	margin: 100px auto;
	position: relative;
}
.red{
	background-color: red;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*---japan----*/
.white{
	background-color: #fff;
	width: 700px;
	height: 500px;
	margin: 100px auto;
	position: relative;
}
.red{
	background-color: red;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*---brazil---*/
.main{
	background-color: #009638;
	width: 700px;
	height: 500px;
	margin: 100px auto;
	position: relative;
}
.main img{
	width: 500px;
	/*height: 400px;*/
	position: absolute;
	background-color: #009638;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*-----italy-----*/
.italy{
	width: 700px;
	height: 500px;
	/*border: 1px solid #000;*/
	margin: 100px auto;
}
.italy .right{
	width: 34%;
	height: 100%;
	display: inline-block;
	background-color: #CF2734;
	float: left;
}
.italy .center{
	width: 33%;
	height: 100%;
	display: inline-block;
	background-color: #fff;
	float: left;
}
.italy .left{
	width: 33%;
	height: 100%;
	display: inline-block;
	background-color: #009344;
	float: left;
}

/*----------argentina-----------*/
.argentina{
	width: 700px;
	height: 500px;
	margin: 100px auto;
	/*border: 1px solid #000;*/
}
.argentina .one{
	background-color: #70A7D8;
	width: 100%;
	height: 33%;
}
.argentina .two{
	background-color: #fff;
	width: 100%;
	height: 33%;
	position: relative;
}
.argentina .two img{
	width: 100px;
	height: 100px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
}
.argentina .three{
	background-color: #70A7D8;
	width: 100%;
	height: 33%;
}